body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b7ceeb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #b7ceeb;
    border-bottom: 1px solid #E5E5E5;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10%;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-right: 10%;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.menu a:hover {
    color: gray;
}

.book-now-top, .book-now-main {
    background-color: #5643FA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.book-now-top:hover, .book-now-main:hover {
    background-color: gray;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #b7ceeb;
}

h1 {
    font-size: 48px;
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 30px;
}

p {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #888888;
}

input[type="email"] {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
}

.hamster-image {
    position: absolute;
    right: 3%;
    top: 15%;
    max-height: 500px;
    border-radius: 10px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.slogan {
    font-size: 32px;
    margin-bottom: 40px;
    color: white;
    background-color: #5742f5;
    padding: 20px 0;
    border-radius: 15px;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    align-items: center;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.icon {
    height: 60px;
    width: 60px;
}

.icon-description {
    font-size: 18px;
}

.trusted {
    font-size: 24px;
    margin-bottom: 20px;
}

.companies {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
}
.spa-treatment {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:#b7ceeb;
}

h2 {
    font-size: 48px;
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.spa-treatment p {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #888888;
}

.spa-treatment .text-content { 
    max-width: 500px;
}

.girlp-img {
    margin-left: auto;
    max-height: 410px;
    border-radius: 10px;
}

.professional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:#b7ceeb;
}

h1 {
    font-size: 48px;
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.professional p {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #888888;
}

.professional .text-content { 
    max-width: 500px;
    order: 2; 
}

.professional .man-img {
    max-height: 410px;  
    border-radius: 10px;
    order: 1;  
}
.expect-care {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    padding-left: 10%;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #b7ceeb;
}

h2 {
    font-size: 48px;
    max-width: 500px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.expect-care p {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #888888;
}

.expect-care .haircuts {
    margin-left: auto;
    max-height: 410px;
    border-radius: 10px;
}
.review-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 2;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-title {
    font-size: 24px;
    font-weight: bold;
}

.review-text {
    margin-top: 10px;
}

.stars {
    color: gold;
    margin-top: 10px;
}

.review-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.dog-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.faq-section {
    width: 70%;
    margin: 20px auto;
    padding: 30px 40px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.faq-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.faq-section p {
    margin-bottom: 20px;
}

.schedule-btn {
    display: inline-block;
    background-color: #5643FA;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 30px;
}

.faq-list {
    list-style-type: none;
    padding: 0;
}

.faq-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.faq-list span:last-child {
    color: #5643FA;
    cursor: pointer;
}
.faq-list li span:last-child {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.faq-list li.open span:last-child {
    transform: rotate(180deg);
}

.faq-list li div {
    display: none;
}
.faq-answer {
    display: none;
    overflow: hidden;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}

.modal-content {
    background-color: #f4f4f4;
    width: 500px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    background: none;
    border: none;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-content select, .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Додано цей рядок */
}

.modal-content button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #555;
}

.valid {
    border: 2px solid green;
}
.invalid {
    border: 2px solid red;
}

.invalid-tooltip {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}
.success-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.success-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.success-animation {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    margin: 0 auto 20px auto;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}
#dogImagesContainer {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.dog-image-gallery {
    width: 400px; 
    height: 400px; 
    object-fit: cover;
    margin-right: 10px; 
}
.img-container {
    align-self: center; 
    margin: 10px;
}

